:root {
    --dark: #212121;
	--darker: #121212;
	--superdark: #0a0a0a;
	--light: #fefefe;
	--superlight: #ffffff;
	--red: #e83b3b;
	--darkred: #ae2334;
	--ochre: #f8a435;
	--darkochre: #c77407;
	--offwhite: #c7dcd0;
	--magenta: #a884f3;
	--darkpurple: #2e222f;
	--superdarkpurple: #251c26;

	--transparent: #00000000;
}