@import url('https://fonts.googleapis.com/css2?family=Lisu+Bosa&display=swap');

:root {
	--bg: #fefefe;
	--fg: #212121;

	--accent: #e83b3b;
	--faded-fg: #ae2334;

	--main-font: 'Lisu Bosa', serif;
}