body {
	background-color: var(--light);
	overflow: hidden;
}

#main-cover {
	height: 100vh;
}

#container {
	background-color: var(--light);
	color: var(--superdark);
	padding: 1em 2em 2em 2em;
}

#shortcuts {
	justify-content: space-around;
	padding-top: 1vh;
}

.shortcut-box {
	width: 2.5em;
	height: auto;
	padding: 0.25em;
	margin: 0.5em;
}

.shortcut-box a,
.shortcut-box a img {
	width: inherit;
}

.shortcut-box > a {
	cursor: crosshair;
}

.invite-hover {
	border-bottom: 1px dotted var(--red);
}

.links-container {
	text-align: center;
	margin: 1em;
}

.icon {
	filter: invert(1);
	color: var(--red);
	width: 1em;
	padding-left: 0.5em;
}

/* For Mobile */
@media screen and (max-width: 600px) {
	body {
		overflow-y: scroll;
	}
	#main-cover {
		height: fit-content !important;
	}
}