body {
	background-color: var(--superdarkpurple);
	overflow: hidden;
}

#main-cover {
	height: 100vh;
	background-image: url("../media/backdrop.png");
	background-repeat: round;
	background-attachment: fixed;
}

#container {
	background-color: #121212e0;
	color: var(--light);
	padding: 1em 2em 2em 2em;
}

#shortcuts {
	justify-content: space-evenly;
	padding-top: 1vh;
}

.shortcut-box {
	width: 4em;
	height: auto;
	background: var(--darker);
	padding: 0.25em;
	margin: 0.5em;
}

.shortcut-box:hover {
	background: var(--superdark);
}

.shortcut-box > a {
	cursor: crosshair;
}

.tooltip {
	position: relative;
	display: inline-block;
}

.invite-hover {
	border-bottom: 1px dotted var(--red);
}

.links-container {
	text-align: center;
	margin: 1em;
}

.icon {
	filter: invert(1);
	color: var(--red);
	width: 1em;
	padding-left: 0.5em;
}

/* For Mobile */
@media screen and (max-width: 600px) {
	body {
		overflow-y: scroll;
	}
	#main-cover {
		height: fit-content !important;
	}
}