@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

body {
    font-family: 'Inter', sans-serif;
    color: #212121;
    background-color: #fff;
}

.flex {
	display: flex;
}

.flex-center {
    justify-content: center;
	align-items: center;
}

.flex-column {
    flex-direction: column;
}

#container {
    background-color: #212121; color: #fefefe; padding: 1em 2em 2em 2em;
}


.shortcut-box {
    width: 2em;
    height: 2em;
    background: rgba(20, 20, 20, 0.5);
    padding: 1em;
    margin: 1em 1em 0 0;
  }

.rounded {
    border-radius: 10px;
}