#splash:before {
    --size: 45px;
    --line: color-mix(in lch, var(--dreary), transparent 80%);
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;

    background: linear-gradient(
        90deg,
        var(--line) 1px,
        transparent 1px var(--size)
    ) 50% 50% / var(--size) var(--size),
    linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% /
    var(--size) var(--size);
    mask: linear-gradient(20deg, transparent 50%, white);

    top: 0;
    left: 0;
    transform-style: flat;
    pointer-events: none;
    z-index: 0;
}
#item {
    animation: item-in 0.6s ease-out;
    transform: rotate(5deg) translate(30%, 10%);
    cursor: crosshair;
}

#item > img {
    width: 25em;
}

#header {
    padding-top: 12em;
}

#title {
    font-size: 6em;
    margin: 0;

    white-space: nowrap;
    border-right: 3px solid transparent;
}

#description {
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid transparent;
    margin-top: 0;
    margin-left: 1.5ch;
}
/* animations */
@keyframes item-in {
    from { transform: rotate(5deg) translate(55%, 10%); }
}

@keyframes blink {
    50% { border-color: var(--accent); }
}

/* mobile considerations */
section { overflow: hidden; }

@media all and (max-width: 600px) {
    #item { transform: rotate(15deg) translate(160%, -130%); }
    #item > img { width: 10em; }
    @keyframes item-in { from { transform: rotate(15deg) translate(200%, -130%); } }
    #header { padding-top: 5em; }
    #title { font-size: 3em;}
    #description { margin-top: 0.5ch; margin-left: 0.6ch; }
    #links {margin-left: 0ch; font-size: small;}
}