<!DOCTYPE html>
<html lang="en">
    <head>
        <title>$TITLE | Writings</title>
        <meta charset="utf-8">
        <meta name="title" content="$TITLE" />
        <meta name="description" content="$CONTENT[:10]" />
        <meta name="theme-color" content="#f4e6d4" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css"/>

        <link rel="stylesheet" href="/style/global.css">
        <link rel="stylesheet" href="/style/article.css">
        <link rel="stylesheet" href="/style/navbar.css">
	</head>

	<body class="papyrus">
        <content>
            <h1>$TITLE</h1>
            <hr>
            <p>$CONTENT</p>
            <img src="./assets/bigrat.jpg" alt="A big rat sitting on a person's leg." width="200px">
        </content>
        <navbar class="no-select">
            <a href="/writings/">back</a>
        </navbar>
    </body>
</html>