* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 20px;
  font: 300 16px/1.5 "Roboto", Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  color: #111;
  background-color: #fdfdfd;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  max-width: 1000px;
}

[disabled] {
  opacity: 0.5;
  pointer-events: none;
}

section {
  padding: 14px;
  margin-bottom: 48px;
}




button, .button {
  font-family: "Roboto", Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  padding: 4px 14px;
  margin-right: 8px;
  background: transparent;
  cursor: pointer;
}
button:hover, .button:hover {
  background: #6FC9C6;
  color: white;
}
button, .button, textarea {
  outline: none;
  border: 3px solid #222;
  color: #222;
  background: white;
}

.player-container {
  margin-top: 14px;
  margin-bottom: 24px;
}
.visualizer-container {
  padding: 14px;
  overflow-x: auto;
  margin-top: -3px;  /* so that the border doesn't overlap with the play buttons */
}

/* d3 chart styles */
.line {
  fill: none;
  stroke: blue;
  stroke-width: 2;
}

/* stupid weird bars hack */
[data-id="overlay"] path[d^="m 0,0 v 100 h 15 v -100 z"] {
  display: none;
}

/* hide notes fix */
[data-id="overlay"] rect[data-id="background"] {
  fill: var(--papyrus);
}